
<% @current_cart = current_cart %>
<% @items = item(@current_cart)%>
<% @total = (total(@current_cart))*100.to_i/100.0 %>
<span>Cost:<strong><%= @total%></strong></span> 
<span>Items:<strong> <%= @items %></strong></span>
